/* -------------------------------------------------------------------------- */
/*                                HERO SECTION                                */
/* -------------------------------------------------------------------------- */

svg#freepik_stories-programming:not(.animated) .animable {
  opacity: 0;
}
svg#freepik_stories-programming.animated #freepik--Floor--inject-67 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0s;
}
svg#freepik_stories-programming.animated #freepik--Shadows--inject-67 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0s;
}
svg#freepik_stories-programming.animated #freepik--Desk--inject-67 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideRight;
  animation-delay: 0s;
}
svg#freepik_stories-programming.animated #freepik--Plant--inject-67 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0s;
}
svg#freepik_stories-programming.animated #freepik--Character--inject-67 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0s;
}
svg#freepik_stories-programming.animated #freepik--speech-bubble--inject-67 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideDown, 1.5s Infinite linear floating;
  animation-delay: 0s, 1s;
}

.animator-hidden {
  display: none;
}

/* -------------------------------------------------------------------------- */
/*                              ABOUT ME SECTION                              */
/* -------------------------------------------------------------------------- */

svg#freepik_stories-questions:not(.animated) .animable {
  opacity: 0;
}
svg#freepik_stories-questions.animated #freepik--Plants--inject-31 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomIn, 1.5s Infinite linear wind;
  animation-delay: 0s, 1s;
}
svg#freepik_stories-questions.animated #freepik--character-2--inject-31 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideRight;
  animation-delay: 0s;
}
svg#freepik_stories-questions.animated #freepik--character-1--inject-31 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0s;
}
svg#freepik_stories-questions.animated #freepik--question-mark--inject-31 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideDown, 1.5s Infinite linear floating;
  animation-delay: 0s, 1s;
}

/* -------------------------------------------------------------------------- */
/*                              TIMELINE SECTION                              */
/* -------------------------------------------------------------------------- */

svg#freepik_stories-goal:not(.animated) .animable {
  opacity: 0;
}
svg#freepik_stories-goal.animated #freepik--Clouds--inject-16--inject-140 {
  animation: 1.5s Infinite linear wind;
  animation-delay: 0s;
}
svg#freepik_stories-goal.animated #freepik--Briefcase--inject-16--inject-140 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideRight;
  animation-delay: 0s;
}
svg#freepik_stories-goal.animated #freepik--Character--inject-16--inject-140 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideRight;
  animation-delay: 0s;
}
svg#freepik_stories-goal.animated #freepik--Stairs--inject-16--inject-140 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0s;
}
svg#freepik_stories-goal.animated #freepik--Flag--inject-16--inject-140 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideDown, 1.5s Infinite linear floating;
  animation-delay: 0s, 1s;
}
svg#freepik_stories-goal.animated #freepik--Plants--inject-16--inject-140 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) lightSpeedLeft;
  animation-delay: 0s;
}

/* -------------------------------------------------------------------------- */
/*                               SKILLS SECTION                               */
/* -------------------------------------------------------------------------- */

svg#freepik_stories-work-time:not(.animated) .animable {
  opacity: 0;
}
svg#freepik_stories-work-time.animated #freepik--Gears--inject-16--inject-39 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideDown, 1.5s Infinite linear floating;
  animation-delay: 0s, 1s;
}
svg#freepik_stories-work-time.animated #freepik--Device--inject-16--inject-39 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomIn;
  animation-delay: 0s;
}
svg#freepik_stories-work-time.animated #freepik--Envelope--inject-16--inject-39 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft, 1.5s Infinite linear heartbeat;
  animation-delay: 0s, 1s;
}
svg#freepik_stories-work-time.animated #freepik--Chat--inject-16--inject-39 {
  animation: 0.7s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideRight, 1.5s Infinite linear wind;
  animation-delay: 0s, 0.7s;
}
svg#freepik_stories-work-time.animated #freepik--Pencil--inject-16--inject-39 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
  animation-delay: 0s;
}
svg#freepik_stories-work-time.animated #freepik--Cup--inject-16--inject-39 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideRight;
  animation-delay: 0s;
}
svg#freepik_stories-work-time.animated #freepik--Characters--inject-16--inject-39 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideRight;
  animation-delay: 0s;
}

/* -------------------------------------------------------------------------- */
/*                                  404 PAGE                                  */
/* -------------------------------------------------------------------------- */

svg#freepik_stories-oops-404-error-with-a-broken-robot:not(.animated) .animable {
  opacity: 0;
}
svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #freepik--error-404--inject-33 {
  animation: 1.5s Infinite linear floating;
  animation-delay: 0s;
}
svg#freepik_stories-oops-404-error-with-a-broken-robot.animated #freepik--speech-bubble--inject-33 {
  animation: 1.5s Infinite linear wind;
  animation-delay: 0s;
}

/* -------------------------------------------------------------------------- */
/*                                  KEYFRAMES                                 */
/* -------------------------------------------------------------------------- */

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: inherit;
  }
}
@keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX(30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes floating {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes wind {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(1deg);
  }
  75% {
    transform: rotate(-1deg);
  }
}
@keyframes lightSpeedLeft {
  from {
    transform: translate3d(-50%, 0, 0) skewX(20deg);
    opacity: 0;
  }
  60% {
    transform: skewX(-10deg);
    opacity: 1;
  }
  80% {
    transform: skewX(2deg);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(1.1);
  }
  30% {
    transform: scale(1);
  }
  40% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  60% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
